<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/sass/style.sass" />
    <link rel="stylesheet" href="/static/sass/locomotive-scroll.css" />
  </head>
  <body>
    <div id="smooth-wrapper" data-scroll-container>
      <div class="wrapper hero" data-scroll-section>
        <div
          class="hero-inner"
          data-scroll
          data-scroll-speed="-.5"
          data-scroll-position="top"
        ></div>
        <h1>Implementation</h1>
      </div>
      <div class="container content" id="fixed-wrapper">
        <div class="content-inner">
          <div class="project" data-scroll-section>
            <div class="header">
              <h1 data-scroll>Description</h1>
            </div>
            <div class="divider" data-scroll data-scroll-offset="50"></div>
            <div class="container-text">
              <p data-scroll>
                Although we are confident that our project, SchistoGONE, will positively impact many
                communities with the absence of disease, we must follow ethical practices in
                implementing our project globally. Through a discussion on implementation, our team
                tackles how exactly we would install bioreactors and plates, safety issues that may
                arise, and even the local laws that would help or hurt us in reaching our goal.
              </p>
            </div>
          </div>
          <div class="spacer"></div>
          <div class="project" data-scroll-section>
            <div class="header">
              <h1 data-scroll>Proposed End Users &amp; Vision of Usage</h1>
            </div>
            <div class="divider" data-scroll data-scroll-offset="50"></div>
            <div class="container-text">
              <p data-scroll>
                Because our project targets a common disease directly instead of manufacturing a
                product for a market, there is no specific group of people that our yeast product
                would go to. Instead, our project would be widely implemented into public rivers and
                waterways where citizens bathe and gather water from, ultimately benefiting all
                people who could potentially contract schistosomiasis. Communities that lack
                sufficient funding on medical care would no longer place concern and resources on
                infections that are prevented, and citizens more vulnerable to the parasitic
                effects, like school children and the elderly, may join more recreational and
                physical activities involving rivers and lakes.
              </p>
            </div>
          </div>
          <div class="spacer"></div>
          <div class="project" data-scroll-section>
            <div class="header">
              <h1 data-scroll>Implementation</h1>
            </div>
            <div class="divider" data-scroll data-scroll-offset="50"></div>
            <div class="container-text">
              <h2 data-scroll>Introduction</h2>
              <p data-scroll>
                Implementation of SchistoGONE will require several steps, including thorough
                consideration of the laws in the country we will apply it to. Unfortunately, in
                Africa, where schistosomiasis is most prevalent, there aren't any laws regarding
                synthetic biology safety. The field is still becoming accepted globally and many
                countries are not prepared to take on financial risks. However, Nigeria, South
                Africa, and Kenya do have laws in place, so we will be studying their laws in hopes
                that other countries will soon follow suit.
                <br />
                <br />
                Firstly, there are policies and laws that would assist the implementation of
                SchistoGONE like the National Water Resources Policy, which outlines the regulatory
                framework to achieve the goals of the state and Policy Statement 8 (Water Supply and
                Sanitation). It includes initiatives to promote technology within the sanitation
                sector and prevent water-borne illnesses. However, complex disputes regarding
                waterways in Nigeria&mdash;one of our target countries&mdash;in 2017 between
                National Inland Waterways Authority (NIWA) and the state government may produce
                possible obstacles in implementing SchistoGONE in Nigeria. We would need to `go
                through the NIWA Research, Planning, and Environment (RPE) Department, which is
                responsible for Health, Safety, and Environment, and also conduct an extensive
                impact assessment to identify the main environmental implications of our project and
                how we can best create a low-risk, low-reliability plan for public approval.
                <br /><br />
                Most extensive information about synthetic biology laws in Nigeria, South Africa,
                and Kenya is in our policy review.
              </p>
            </div>

            <div class="container-text">
              <h2 data-scroll>Yeast</h2>
              <p data-scroll>
                In order to prevent schistosomiasis, we will be genetically engineering W303
                Saccharomyces cerevisiae yeast. The yeast will be placed on the shores of
                schistosomiasis-infected waters, attracting snails so that they will consume the
                yeast. Our modified W303 Saccharomyces cerevisiae yeast will produce sanguinarine
                inside its cell walls, which will be released after snails consume the yeast and
                enzymes inside the snail's stomach have broken through the cell membranes and walls.
                The sanguinarine will kill the worms inside the snails, removing the disease once it
                enters the snail's bloodstream.
              </p>
            </div>

            <div class="container-text">
              <h2 data-scroll>Bioreactors &amp; Plates</h2>
              <p data-scroll>
                We built a bioreactor to culture our yeast cells, and it will pump the yeast to
                plates on the shores of infected rivers. Snails will be attracted to the scent of
                the yeast and come up to the plates themselves. This way, we do not have to pour our
                compound into the rivers and risk disrupting other ecosystems and forms of life.
              </p>
            </div>

            <div class="container-text">
              <h2 data-scroll>Reaching Out</h2>
              <p data-scroll>
                Since our project would greatly impact the communities SchistoGONE is implemented
                into, communicating with the people whose water source will be affected would be a
                top priority. The public will be informed thoroughly about all aspects of the
                project, including the scientific reasoning behind the components of SchistoGONE and
                any possible side effects of using or consuming the affected water. Education on
                this subject would hopefully create a relationship of trust between our team and the
                community, allowing for a constant stream of feedback and responses. Before
                implementation, we want to answer any questions citizens have and resolve any of
                their concerns so that SchistoGONE can benefit as many people as possible without
                becoming a source of grievance for any communities.
              </p>
            </div>

            <div class="container-text">
              <h2 data-scroll>Implementing Across Africa</h2>
              <p data-scroll>
                The effective implementation of SchistoGONE would be a lengthy and intensive
                process. With even more regulations to consider than in the previous sample area of
                Nigeria, adhering to all relevant African laws, extrapolating resources from out of
                one region and expanding into further regions (in terms of work-force wise,
                community acceptance) will take some time. After the preliminary support has been
                laid down for SchistoGONE and logistical issues are resolved, manual work will need
                to be carefully monitored along with the application of our project in order to
                gauge effectiveness and ensure uniformity.
              </p>
            </div>
          </div>
          <div class="spacer"></div>
          <div class="project" data-scroll-section>
            <div class="header">
              <h1 data-scroll>Safety Aspects</h1>
            </div>
            <div class="divider" data-scroll data-scroll-offset="50"></div>
            <div class="container-text">
              <h2 class="question" data-scroll>What if yeast gets into the water?</h2>
              <p data-scroll>
                One of the primary concerns regarding the practicality of the implementation of
                SchistoGONE is the potential impact to water quality and the environment in a
                situation where our yeast is erroneously released. The high prevalence of
                schistosomiasis in water-scarce regions and in populations dependent on natural
                bodies of water for most, if not all, of their water supply exacerbates the
                potential concerns that released yeast may have in water. For instance, South
                Africa, a country affected by schistosomiasis, is currently facing a water shortage
                crisis and as a result, authorities could be hesitant to put remaining water sources
                under potential risk of harm, which may include yeast. Furthermore, as detailed
                comprehensively in our environmental analysis, rich biodiversity is centered in
                water habitats within schistosomiasis-afflicted regions, and an uncontrolled release
                of yeast could result in ecosystem disruption.
                <br />
                <br />
                The nature of our project, however, addresses these concerns. SchistoGONE intends on
                utilizing genetically modified S.Cerevisiae yeast to synthesize antiparasitic
                products within isolated plates docked on the shore. The plates will contain a
                bioreactor and the necessary medium in order to carry out this function. In a
                situation where yeast is released into the water, it will be relatively benign. This
                is because without nutrients provided by the medium held in the plates and
                S.Cerevisiae's inability to compete for resources with other microorganisms, it will
                quickly use up its surplus resources, enhanced by the usage of energy in producing
                naturally inessential antiparasitic products, and die out. The excess production and
                release of antiparasitic products will not be of much concern either, as the yeast
                requires a substrate to bind in order to synthesize these products which are not
                available outside of the plates.
                <br /><br />
                More information is provided in our environmental analysis.
              </p>
            </div>
            <div class="container-text">
              <h2 class="question" data-scroll>
                Will the yeast and natural compound be harmful to snails?
              </h2>
              <p data-scroll>
                In most cases, the yeast will not be harmful to snails. When released from the
                bioreactor, we have ensured that the yeast stays relatively benign, as it doesn't
                have the proper nutrients to sustain its lifestyle. While it might survive for a
                short period of time, other microorganisms will outcompete it, leading to no
                long-term impact on snails.
              </p>
            </div>
          </div>
          <div class="spacer"></div>
          <div class="project" data-scroll-section>
            <div class="header">
              <h1 data-scroll>Policy Review</h1>
            </div>
            <div class="divider" data-scroll data-scroll-offset="50"></div>
            <div class="container-text">
              <h2 class="question" data-scroll>
                What local laws would help us in implementing our project?
              </h2>
              <p data-scroll>
                The Nigerian federal government is split into many distinct civil service
                departments, collectively known as the Federal Ministries of Nigeria. There are two
                ministries that are relevant to our schistosomiasis project: the Federal Ministry of
                Water Resources and the Federal Ministry of Public Health.
                <br />
                <br />
                The Federal Ministry of Water Resources is responsible for developing and
                implementing policies to provide all Nigerians with safe access to water. One such
                policy is the National Water Resources Policy, which outlines the regulatory
                framework to achieve the goals of the state. As stated under the policy, water is a
                basic human right and an asset of the state, so private ownership of water is not
                allowed. Since our plan targets publicly owned waterways, we would need to seek
                approval from the ministry to implement our project. The ministry is heavily
                underfunded, so cooperation with private partners and donations are vital to the
                success of the program. In the past, there have also been issues in maintaining
                proper surveying and monitoring post-implementation, so additional personnel and
                resources would need to be provided.
                <br /><br />
                Specifically, in accordance with the Policy Statement 8 (Water Supply and
                Sanitation), the ministry is responsible for providing sufficient and adequate
                sanitation to enhance health. This includes initiatives to promote technology within
                the sanitation sector and prevent water-borne illnesses. Since our project attempts
                to use technology to clean water and remove parasitic worms that can spread
                schistosomiasis to humans, some of those initiatives would be likely to help us.
              </p>
            </div>
            <div class="container-text">
              <h2 class="question" data-scroll>
                What local laws would be harmful for us in implementing our project?
              </h2>
              <p data-scroll>
                Established in 1997 under the Federal Ministry of Transport, the National Inland
                Waterways Authority (NIWA) was named the primary authority for the regulation and
                development of inland navigable waterways in Nigeria. NIWA is the main governmental
                authority able to regulate waterways throughout the nation, with responsibilities
                spanning from infrastructure development to navigation to environmental surveying.
                Even with state governments attempting to gain control over their own waterways,
                such as the Lagos State Waterways Authority, NIWA was still legally declared by the
                Federal High Court as the competent authority. Well, that was up until 2017.
                <br />
                <br />
                After an appeal by the Lagos State authorities in July of 2017, the dispute over
                control of Nigerian waterways became much more convoluted. Both the state government
                and NIWA claim to have won the authority to control the navigable waterways in
                Lagos, with representatives on both sides publicly announcing to the media their
                opinion. It is generally accepted that all interstate waterways, those that run
                between two or more states, are under federal jurisdiction. This includes most of
                the largest bodies of water in Nigeria&mdash;such as the River Niger, the River
                Benue, and Lake Chad&mdash;which supply water to the majority of Nigerians. All
                intrastate and inland waterways, those that start and end entirely within one state,
                not mentioned under the NIWA are under state jurisdiction, though there is little
                clarity over the definition of "other intrastate waterways." The hazy line between
                state and federal authority in Nigeria complicates the process of seeking approval
                for projects involving waterways across the nation.
                <br /><br />
                In order for our project to be legally approved and granted a permit to implement
                SchistoGONE, we would likely need to go through the NIWA Research, Planning, and
                Environment (RPE) Department, which is responsible for Health, Safety, and
                Environment. While schistosomiasis is not explicitly listed among their
                responsibilities, the RPE handles all policy issues, budget preparations, and
                project monitoring about the surrounding environment of waterways. To attain public
                approval, we would need to conduct an extensive impact assessment to identify the
                main environmental implications of our project and how we can best create a
                low-risk, low-reliability plan. The funding for the project would have to come
                entirely from Public Private partnerships (PPP), as previous efforts by the Nigerian
                federal government to curb schistosomiasis were unsuccessful and these programs are
                generally underfunded.
              </p>
            </div>
            <div class="container-text">
              <h2 class="question" data-scroll>
                How would we lawfully implement our project? What steps would we have to take?
              </h2>
              <p data-scroll>
                Before implementation, we would have to confirm that the country's laws align with
                our project and that we have all necessary approval. Unfortunately, in many parts of
                Africa, where schistosomiasis is most common, there are no laws that address the use
                of synthetic biology. Because it could potentially be harmful to the environment and
                its people, most developing countries are reluctant about risky new technology.
                However, synthetic biology and biosafety conferences are being held and we are
                optimistic that countries will take this step in implementing synthetic biology.
                <br />
                <br />
                Because there are only synthetic biology laws in Nigeria, South Africa, and Kenya,
                we will be mainly focusing on laws in these countries, in hopes that other African
                countries will have similar synbio laws in the future.
                <br /><br />
                In Nigeria, we would have to get our project approved by the National Biosafety
                Management Agency (NBMA), established in 2015 by the Nigeria Biosafety Bill. Their
                core belief is that synthetic biology may help solve poverty issues, and have
                already implemented agricultural biotechnology to improve food security. The new
                regulations state that any project involving gene drive, gene editing, and synthetic
                biology must gain approval from the Agency to best minimize adverse effects. After
                submitting an application to the Agency, an internal review must be conducted with
                the possibility of additional information requests. Within 21 days, the project can
                be approved, indicating a relatively quick time frame from application to
                implementation. Since our final product contains recombinant DNA, it must also
                undergo a GMO regulation process.
              </p>
            </div>
            <div class="container-text">
              <h2 class="question" data-scroll>
                How long would the potential approval process take?
              </h2>
              <p data-scroll>
                As discussed throughout our review of schistosomiasis policy, many countries in
                which schistosomiasis is prevalent have agencies responsible for public health and
                water management with specific regulations and rules regarding project approval.
                However, durations for this vary due to numerous political and social considerations
                that we could potentially encounter in countries of interest.
                <br />
                <br />
                One of the primary hindrances to the approval of SchistoGONE in many countries
                studied is the lack of state funding and investment into schistosomiasis related
                causes, or an unwillingness to financially support initiatives with potential
                economic and environmental consequences if unsuccessful. For instance, Nigeria has
                been condemned by public health academics both within and internationally due to
                their relative inaction, exacerbated by the emergence of COVID-19. Despite
                commitments to the London Declaration and many WHO initiatives throughout the last
                20 years, Nigeria has observed little to no changes in their schistosomiasis
                mortality rate. As discussed by Professor Oyeyemi at the University of Medical
                Science in Ondo State, the Nigerian government is only willing to invest in
                low-risk, low-liability plans with minimal economic commitment, which contrasts with
                the nature of our project. As a result, a meticulous process involving a solidified
                proof of concept and environmental analysis would be required in order to meet this
                criteria, which would require many years to conduct. However, other
                schistosomiasis-afflicted countries have demonstrated promising actions in order to
                tackle the disease. For instance, Kenya has implemented a deworming initiative which
                provide children with free deworming treatments. However, like Nigeria, Kenya and
                many other nations face other limiting factors.
              </p>
            </div>
          </div>
          <div class="project" data-scroll-section>
            <div class="header">
              <h1 data-scroll>Environmental Analysis</h1>
            </div>
            <div class="divider" data-scroll data-scroll-offset="50"></div>
            <div class="container-text">
              <h2 data-scroll>Introduction</h2>
              <p data-scroll>
                Schistosomiasis (Bilharzia) is an infectious disease caused by parasitic flatworms
                and is prevalent in numerous tropical locations worldwide. Schistosomiasis-inducing
                flatworms undergo diagnostic and infective phases in their life cycle. During their
                diagnostic stage, flatworm eggs hatch into miracidia, which penetrate into
                freshwater snails. There, the miracidia develop into sporocysts that divide and form
                cercariae. Cercariae release into bodies of water marks the beginning of the
                infective phase, where they can penetrate human skin, circulate through blood, and
                mature into worms in the liver. The adult worms can then pair and release eggs via
                urine and manure. Eggs which remain within humans, however, can cause chronic bodily
                effects ranging from mild symptoms such as a rash or headache to severe ones such as
                organ inflammation, excretory issues, stunted mental and physical growth, and in
                rare cases, paralysis.
                <br />
                <br />
                Despite the concerning effects of schistosomiasis and its wide impact, with 230
                million infected and 700 million potentially at risk, it is considered to be a
                neglected tropical disease or NTD, a class of diseases which primarily affect the
                impoverished at a large-scale and whose research and prevention are not well funded.
              </p>
            </div>
            <div class="container-text">
              <h2 data-scroll>Current Treatments</h2>
              <p data-scroll>
                Praziquantel is the usual treatment for schistosomiasis, and is commonly paired with
                chemotherapy to function. This cure is taken in doses and proven to be most
                effective when used on grown worms, with cure rates between 65-90% after the initial
                dose. Despite these facts, Praziquantel is not flawless. It has shown to be not very
                effective or even harmful to young children and the elderly. Possible effects of
                Praziquantel include heart rhythm problems as well as conditions like peeling skin,
                fever, and stomach pain. An alternative and more efficient way of battling
                schistosomiasis can be implemented by using yeast. By curing the snails,
                schistosomiasis is prevented as the snails cannot nurture the infecting worms. Using
                yeast on the snails prevents the problem from even happening (by curing the snail)
                which is more effective than just curing patients who have already contracted the
                disease.
              </p>
            </div>
            <div class="container-text">
              <h2 data-scroll>Project Description</h2>
              <p data-scroll>
                We plan to contribute to the eradication of schistosomiasis by targeting their
                intermediary host, snails. By curing the snails of Schistosoma, it loses a necessary
                stage in its life cycle, and thus miracidia doesn't transfer into worms, and
                therefore does not attach itself to human beings. To do so, we will genetically
                modify S.Cerevisiae yeast to produce sanguinarine within cell walls, and place it on
                the shores of Schistosoma-infected waters. Yeast naturally attracts snails from as
                far as 180 meters away, providing incentive for snails to consume yeast. The enzymes
                inside the snail guts will lyse or crack open the yeast cells. This releases
                built-up sanguinarine, a substance proven to kill Schistosome miracidia. As this
                substance is absorbed and carried throughout the bloodstream, the snail is cured.
              </p>
            </div>
            <div class="container-text">
              <h2 data-scroll>Ecological Role of Snails</h2>
              <p data-scroll>
                Biomphalaria glabrata are the freshwater snail species that host the parasitic worm
                that cause human schistosomiasis. The worm lives in its larvae stages inside the
                snail before it completes its life cycle, so the Biomphalaria glabrata is crucial in
                order for the trematode to survive.
                <br />
                <br />
                Snails are mollusks, which appear on all continents but are most prominent in
                Eastern North America. Their diet consists mainly of plants, rotting wood, fungi,
                algae, and other organic matter. Through their diet they consume calcium, which they
                concentrate into their shells that are made from calcium carbonate. They then pass
                this calcium up the food chain when they are consumed by larger predators. Because
                of this, they are a very important source of food for predators such as birds,
                insect larvae, mice, amphibians, and other small mammals. Additionally, the slime
                secreted by the snails as they move is beneficial to the soil underneath, improving
                its structure. Their diet also aids with the quality of the soil, as they decompose
                decaying plant matter, leaving behind nutrient-rich feces.
                <br /><br />
                Freshwater snails, a type of snail typically found to carry schistosomiasis, are
                actually otherwise extremely beneficial to the environment. They keep the waters of
                their habitat clean and in good conditions. Snails consume algae using a feeding
                mechanism in their bodies, called a radula. A radula is an organ with a bunch of
                tiny, teeth-like scraping tools. This algae consumption reduces the chances of algae
                smothering other plant species, and prevents the reduction of nutrient levels in
                bodies of water. It also balances the pH of the water, which is necessary to many
                other plants' survival. The death of freshwater snails is also beneficial to the
                environment. Bizarrely, in a kind of regulatory system, the decomposition of their
                bodies lowers the pH of the waters, but the decomposition of their shells raises it.
                Of course, many other species of animals consume the snails as sustenance, making
                them one of the most common sources of food in their environments
                <br /><br />
                Because we're aware of the important role of these snails in their ecosystems, we're
                aiming to use an approach that won't harm them. We chose to use sanguinarine, a
                selectively toxic compound, to target the schistosomes in the snails. When parasites
                infect snails, the larva, also called miracidia, undergoes a dramatic morphological
                transformation into a contained, cyst-like structure called a primary sporocyst,
                which travels to and initially develops in the hepatopancreas (digestive gland) of
                the snail. We are targeting the sporocyst intermediate stage of the schistosomes'
                development, and therefore are aiming to have sanguinarine travel to the
                hepatopancreas. The snail is unlikely to fully digest the compound in the digestive
                tract, which means that it itself will not die while being cured.
              </p>
            </div>
            <div class="container-text">
              <h2 class="question" data-scroll>
                Safety of Releasing Yeast (or other GMOs) into Environment
              </h2>
              <p data-scroll>
                Similarly to most synthetic biology research, our project takes advantage of
                genetically modified organisms (GMOs) for our solution. Specifically, we plan to
                genetically engineer yeast to express sanguinarine. Since the final implementation
                of our project involves introducing genetically modified yeast into the
                environment&mdash;albeit in a contained manner&mdash;we must thoroughly examine the
                potential biosafety risks and choose the safest approach accordingly.
                <br />
                <br />
                The majority of GMOs can efficiently reproduce, multiply, and spread once they are
                released into the environment, as the genetic modifications of the organism give it
                a selective advantage in survival. There is often an increased pressure placed on
                native populations, which are unable to quickly adapt to the presence of a new
                invasive species. The danger a GMO poses on the environment varies depending on its
                characteristics, interactions between other organisms and its surroundings,
                genetically modified traits, and the environment itself. Introducing a GMO to an
                environment could have unexpected and hazardous consequences due to the
                unpredictability of the changes in the organism's growth rate, metabolism,
                evolutionary pattern, and response to external environmental factors.
                <br /><br />
                Because of the aforementioned variability in the environmental harms caused by GMOs,
                we examined in-depth the environmental changes caused by baker's yeast, formally
                known as S. cerevisiae, which is the strain we are using for our project. When
                genetically modified (GM) yeast strains were placed into a simulated environment
                containing indigenous microorganisms, there was minimal disruption in the viability
                of indigenous microorganisms (Ando et. al, 2009). The same results were noticed in
                aquatic environments. In fact, the survivability of the GM yeast was either the same
                or lower than that of wildtype yeast strains (Ando et. al, 2005). These results
                strongly suggest that the accidental or intentional release of GM yeast strains will
                not have an effect on microbial communities, making yeast a safer option for our
                project compared to other organisms.
                <br /><br />
                Of course, these findings should not be misconstrued to suggest that the unregulated
                release of yeast into the environment will have no impact at all. There is still
                minimal research into the possibility of horizontal gene transfer between GM yeast
                and other organisms. Additionally, it has been observed that indigenous microbial
                communities may use nutrients derived from the dead yeast cells, so further research
                is required into the long-term environmental changes that may occur.
                <br /><br />
                The most effective method to minimize the release of any GM yeast into the
                environment is "contained use," so our team plans to cultivate the yeast in a
                contained bioreactor without any direct contact between the external environment and
                the yeast.
              </p>
            </div>
          </div>
          <div class="spacer"></div>
        </div>
        <div class="sidebar" id="sidebar" data-scroll-section>
          <div class="sidebar-inner" data-scroll data-scroll-sticky data-scroll-target="#sidebar">
            <span>Jump To</span>
            <ul></ul>
          </div>
        </div>
      </div>
      <footer data-scroll-section></footer>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="module" src="/static/js/index.js"></script>
  </body>
</html>
