{% extends "layout.html" %}
  
{% block title %}Communication{% endblock %}
{% block lead %}Develop and implement education, science communication, and/or outreach materials related to synthetic biology.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Gold Medal Criterion #6: Education & Communication</h4>
      <p>Develop and implement education, science communication, and/or outreach materials related to synthetic biology.<p>
      <p>All activities must follow Safety policies for <a href="https://responsibility.igem.org/safety-policies/human-subjects">Human Subjects Research</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>

{% endblock %}