{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2022!</b> Your team has been approved and you are ready to start the iGEM season!{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col">
    <h2>Before you start</h2>
    <hr>
    <p>Please read the following pages:</p>
    <ul>
      <li><a href="https://competition.igem.org/">The Competition Page</a></li>
      <li><a href="https://competition.igem.org/deliverables/team-wiki">Wiki Requirements page</a></li>
    </ul>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <h2>Styling your wiki</h2>
    <hr>
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Tips</h2>
    <hr>
    <p>This wiki will be your team's first interaction with the rest of the world, so here are a few tips to help you get started:</p>
    <!-- proof it worked ********* -->
  </div>
  <div class="col-lg-4">
    <h2>Inspiration</h2>
    <h2>milk</h2>
    <hr>
    <p>You can also view other team wikis for inspiration! Here are some examples:</p>
    <ul>
      <li><a href="https://2019.igem.org/Team:Vilnius-Lithuania">2019 Vilnius Lithuania</a></li>
      <li><a href="https://2019.igem.org/Team:NUS_Singapore">2019 NUS Singapore</a></li>
      <li><a href="https://2019.igem.org/Team:Lambert_GA">2019 Lambert GA</a></li>
      <li><a href="https://2020.igem.org/Team:Waterloo">2020 Waterloo</a></li>
      <li><a href="https://2020.igem.org/Team:TUDelft">2020 TUDelft</a></li>
      <li><a href="https://2020.igem.org/Team:XMU-China">2020 XMU China </a></li>
      <li><a href="https://2020.igem.org/Team:TAS_Taipei">2020 TAS Taipei </a></li>
    </ul>
  </div>
</div>

{% endblock %}
