{% extends "layout.html" %}
  
{% block title %}Proposed Implementation{% endblock %}
{% block lead %}Explain how you would implement your project in the real world.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Silver Medal Criterion #4</h4>
      <p>Explain how you would implement your project in the real world.<p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>

{% endblock %}
