{% extends "layout.html" %}
  
{% block title %}Improvement of an Existing Part{% endblock %}
{% block lead %}Describe the improvements your team made of an existing part.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Gold Medal Criterion #2</h4>
      <p>Make a new Part that improves the function of an existing Part. This improvement must be distinct from your work for Bronze and Silver medals.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
    
    <div class="bd-callout bd-callout-warning">
      <h4>Note</h4>
      <p>You must document your improvement on both the existing and new Parts' Main Pages on the <a href="http://parts.igem.org">Registry</a> for your team to be eligible for this criteria.</p>
    </div>
  </div>
</div>

{% endblock %}
