{% extends "layout.html" %}
  
{% block title %}Parts{% endblock %}
{% block lead %}This page contains information about the parts created by the team.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <h2>Overview</h2>
    <hr>
    <p>Each team will make new parts during iGEM and will add them to the Registry of Standard Biological Parts</p>
    <p>Remember that the goal of proper part documentation is to describe and define a part, so that it can be used without needing to refer to the primary literature. Registry users in future years should be able to read your documentation and be able to use the part successfully. Also, you should provide proper references to acknowledge previous authors and to provide for users who wish to know more.</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Table</h2>
    <hr>
    <p>Please include a table of all the parts your team has made during your project on this page. For example:</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Designers</th>
          <th scope="col">Length</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_B0011">BBa_B0011</a></th>
          <td>Terminator</td>
          <td>LuxICDABEG (+/-)</td>
          <td>Reshma Shetty</td>
          <td>46 bp</td>
        </tr>
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_C0012">BBa_C0012</a></th>
          <td>Coding lacI</td>
          <td>lacI repressor from E. coli (+LVA)</td>
          <td>Grace Kenney, Daniel Shen, Neelaksh Varshney, Samantha Sutton</td>
          <td>1153 bp</td>
        </tr>
        <tr>
          <td><a href="http://parts.igem.org/Part:BBa_E0020">BBa_E0020</a></th>
          <td>Coding ecfp</td>
          <td>engineered cyan fluorescent protein derived from A. victoria GFP</td>
          <td>Caitlin Conboy and Jennifer Braff</td>
          <td>723 bp</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-warning">
      <h4>Note</h4>
      <p>Parts must be well documented on each Part's Main Page on the <a href="http://parts.igem.org">Registry</a>. This documentation includes all of the characterization data for your parts. <b>The part's data MUST be on the part's Main Page on the Registry for your team to be eligible for medals and special prizes pertaining to parts.</b></p>
      <p>This page serves to <i>showcase</i> the parts you have made and should include links to the Registry pages for your parts. Future teams and other users are much more likely to find parts by looking in the Registry than by looking at your team wiki.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Adding parts to the Registry</h2>
    <hr>
    <p>You can add parts to the Registry at our <a href="http://parts.igem.org/Add_a_Part_to_the_Registry">Add a Part to the Registry</a> page.</p>
    <p>We encourage teams to start adding and documenting their parts on the Registry as soon as they can. Once you add your parts to the Registry, you can continue to add documentation to them throughout the iGEM season (up until the Registry freeze). This will allow you to remember all the details about your parts and store their history in the wiki. Documentation includes the characterization data of your parts.</p>
    <a class="btn btn-primary" href="http://parts.igem.org/Add_a_Part_to_the_Registry" role="button">Add Parts</a>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Basic Part Inspirations</h2>
    <hr>
    <p>We have a created a <a href="http://parts.igem.org/Well_Documented_Parts">collection of well documented parts</a> that can help you get started.</p>
    <p>You can also take a look at the following examples for Basic Parts on the Registry:</p>
    <ul>
      <li><a href="http://parts.igem.org/Part:BBa_K3114006">2019 Calgary </a></li>
      <li><a href="http://parts.igem.org/Part:BBa_K3027000">2019 GO Paris Saclay</a></li>
      <li><a href="http://parts.igem.org/Part:BBa_K3187028">2019 TU Darmstadt</a></li>
      <li><a href="http://parts.igem.org/Part:BBa_K3552000">2020 Links China</a></li>
      <li><a href="http://parts.igem.org/Part:BBa_K3558000">2020 UNSW Australia</a></li>
      <li><a href="http://parts.igem.org/Part:BBa_K3338002">2020 Hannover</a></li>
    </ul>
  </div>
  <div class="col">
    <h2>Composite Part Inspirations</h2>
    <hr>
    <p>We have a created a <a href="http://parts.igem.org/Well_Documented_Parts">collection of well documented parts</a> that can help you get started.</p>
    <p>You can also take a look at the following examples for Composite Parts on the Registry:</p>
    <ul>
      <li><a href="http://parts.igem.org/Part:BBa_K3198007">2019 NUS Singapore </a></li>
      <li><a href="http://parts.igem.org/Part:BBa_K2932003">2019 Mingdao</a></li>
      <li><a href="http://parts.igem.org/Part:BBa_K2980009">2019 Tsinghua</a></li>
      <li><a href="http://parts.igem.org/Part:BBa_K3407022">2020 TUDelft</a></li>
      <li><a href="http://parts.igem.org/Part:BBa_K3380500">2020 Edinburgh</a></li>
      <li><a href="http://parts.igem.org/Part:BBa_K3512042">2020 BITSPilani Goa India</a></li>
    </ul>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>What information do I need to start putting my parts on the Registry?</h2>
    <hr>
    <p>The information needed to initially create a part on the Registry is:</p>
    <ul>
      <li>Part Name</li>
      <li>Part type</li>
      <li>Creator</li>
      <li>Sequence</li>
      <li>Short Description (60 characters on what the DNA does)</li>
      <li>Long Description (Longer description of what the DNA does)</li>
      <li>Design considerations</li>
    </ul>
    <p>We encourage you to put up <em>much more</em> information as you gather it over the summer. If you have images, plots, characterization data and other information, you must also put it up on the part page.</p>
  </div>
</div>

{% endblock %}
