{% extends "layout.html" %}
  
{% block title %}Part Collection{% endblock %}
{% block lead %}Describe your parts collection on this page, so the judges can evaluate you for the Best Part Collection award.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Part Collection Special Prize</h4>
      <p>Did your team make a lot of great parts? Is there a theme that ties all your parts together? Do you have more than 10 parts in this collection? Did you make a CRISPR collection, a MoClo collection, or a collection of awesome pigment parts? Describe your parts collection on this page, so the judges can evaluate you for the Best Part Collection award.</p>
      <p>To be eligible for this award, each part in the collection must be well documented on the Part's Main Page on the <a href="http://parts.igem.org">Registry</a>. If you have a collection of parts you wish to nominate for this <a href="https://competition.igem.org/judging/awards">special prize</a>, make sure you add your part numbers to your <a href="https://competition.igem.org/deliverables/judging-form">judging form</a> and delete the alert box at the top of this page.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2022 Awards Page</a> for more information.</p>
    </div>
 
    <div class="bd-callout bd-callout-warning">
      <h4>Note</h4>
      <p>This page should list all the parts in the collection your team made during your project, explaining how all your parts form a collection, and include direct links to your Parts main pages on the <a href="http://parts.igem.org">Registry</a>. <b>You must add all characterization information for your parts on Parts Main Page on the Registry.</b> You should <b>not</b> put characterization information on this page.</p>
    </div>
  </div>
</div>

{% endblock %}
