{% extends "layout.html" %}
  
{% block title %}Partnership{% endblock %}
{% block lead %}Collaborate throughout the year with at least one other 2022 iGEM team on a set of shared objectives related to both of your projects.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Gold Medal Criterion #5</h4>
      <p>Collaborate throughout the year with at least one other 2022 iGEM team on a set of shared objectives related to both of your projects. This partnership should go beyond a Silver medal collaboration.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2022 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>

{% endblock %}
