// Matter

@font-face
    font-family: 'Matter'
    src: url('/static/assets/fonts/Matter/Matter-Regular.otf')
    font-style: normal
    font-weight: 400

@font-face
    font-family: 'Matter'
    src: url('/static/assets/fonts/Matter/Matter-RegularItalic.otf')
    font-style: italic
    font-weight: 400

@font-face
    font-family: 'Matter'
    src: url('/static/assets/fonts/Matter/Matter-Bold.otf')
    font-style: normal
    font-weight: 700

@font-face
    font-family: 'Matter'
    src: url('/static/assets/fonts/Matter/Matter-Bold.otf')
    font-style: normal
    font-weight: 700