// $color-background: #1C243B
$color-background: #182027
// $color-text: #FFECDC

$color-text-solid: #ffffff
$color-text: #ffffff99
$color-text-secondary: #ffffff55

$color-accent: rgb(67,175,222)
$color-accent-secondary: rgb(230, 80, 113)
$color-highlight: rgba(67,175,222,0.2)
$gradient-green-blue: linear-gradient(90deg, rgba(154, 241, 224, var(--tw-opacity)) 0%, rgba(147, 222, 245, var(--tw-opacity)) 100%)
$gradient-blue: linear-gradient(90deg, rgba(51, 181, 184, var(--tw-opacity)) 0%, rgba(46, 150, 219, var(--tw-opacity)) 100%)
$gradient-purple-yellow: linear-gradient(90deg, rgba(253, 115, 197, var(--tw-opacity)) 0%, rgba(255, 224, 74, var(--tw-opacity)) 100%)
$gradient-red: linear-gradient(90deg, rgba(245, 129, 103, var(--tw-opacity)) 0%, rgba(237, 92, 133, var(--tw-opacity)) 100%)
$gradient-blue-anim: linear-gradient(-45deg, #5c65e6, #2e96db,#7ecbe2, #33b5b8)

$font-family: 'Matter', sans-serif
// $font-family-heading: 'Canela Deck', 'Georgia', serif
$font-family-heading: 'Matter', sans-serif

$transition-fadeUp: opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1)
